/* css index */

#end {
    background-color: #383838;
    width: 100%;
}

footer ul {
    list-style-type: none;
    color: white;
    margin: 0;
    padding: 1em;
    line-height: 1.5em;
    padding-top: 0;
    text-decoration: underline transparent;
}

footer a {
    color: white;
}

.footer_logo img {
    margin: 1em;
    width: 100px;
    filter: invert(100%);
}

.fa-utensils {
    padding-right: 1em;
}

.fa-handshake {
    padding-right: 0.5em;
}

body {
    margin: 0;
}

header img {
    margin-top: 1em;
    margin-bottom: 1em;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#container {
    width: 100%;
    background-color: #EEEEEE;
}

.map {
    border: solid transparent;
    background-color: rgb(223, 223, 223);
    text-align: center;
    padding-top: 1em;
    padding-bottom: 1em;
    box-shadow: 0em -0.2em 0.1em rgb(212, 211, 211);
    font-size: x-large;
}

header h3 {
    font-size: 14px;
}

#restaurant img {
    width: 250px;
    height: 130px;
    border-radius: 20px 20px 0px 0px;
    position: relative;
}

img {
    object-fit: cover;
}

#restaurant {
    width: 100%;
    background-color: rgb(246, 246, 246)
}

.resto {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 2em;
}

article.establishment {
    background-color: white;
    border-radius: 20px;
    box-shadow: 1px 1px 12px rgb(212, 211, 211);
    margin-bottom: 1em;
}

article.establishment h3 {
    margin: 0;
    padding-left: 1em;
    margin-top: 0.5em;
}

article.establishment p {
    margin: 0;
    padding-left: 1.2em;
    margin-bottom: 1em;
}

#restaurant h2 {
    margin: 1em;
    padding-top: 2em;
}

.fa-heart {
    float: right;
    margin-right: 1em;
    margin-top: -0.5em;
}

.navbar {
    width: 100%;
}

.navbar a {
    border: solid transparent;
    border-radius: 20px;
    margin-bottom: 1em;
    background-color: rgb(246, 246, 246);
    color: black;
    width: 190px;
    padding: 1.5em;
    box-shadow: 1px 1px 8px rgb(212, 211, 211);
    display: flex;
    flex-direction: row
}

.navbar_option {
    text-align: center;
}

.navbar nav {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 1em;
    margin-left: 0.5em;
}

.navbar a.three {
    background-color: rgb(245, 237, 255);
}

div.number {
    background-color: rgb(147, 86, 220);
    border-radius: 50px;
    width: 20px;
    color: white;
    padding: 0.1em;
    position: absolute;
    left: 0.7em;
}

.fa-mobile-alt {
    padding-right: 1em;
}

.fa-list {
    padding-right: 1em;
}

.fa-store {
    padding-right: 1em;
}

.navbar h2 {
    margin-left: 1em;
}

button {
    border-radius: 50px;
    margin-bottom: 3em;
    margin-top: 2em;
    height: 50px;
    color: white;
    background: linear-gradient(to bottom right, rgb(238, 115, 218), rgb(161, 91, 220));
    border-color: transparent;
    width: 250px;
}

.btn {
    display: flex;
    justify-content: center;
}

button:hover {
    opacity: 0.6;
    transition-duration: 0.5s;
}

header h1 {
    text-align: center;
}

header p {
    text-align: center;
    font-size: 20px;
}

div.new {
    position: absolute;
    top: 960px;
    right: 1.5em;
    border: solid transparent;
    background-color: rgb(153, 226, 208);
    color: green;
}

a {
    text-decoration: underline transparent;
}

.fa-map-marker-alt {
    padding-right: 1em;
}

div.new1 {
    position: absolute;
    top: 1170px;
    right: 1.5em;
    border: solid transparent;
    background-color: rgb(153, 226, 208);
    color: green;
}

div.heart {
    font-size: x-large;
}

div.heart:hover .fas {
    opacity: 1;
    transition: opacity 3s linear;
}

div.heart:hover .far {
    display: none;
}

div.heart .fas {
    opacity: 0;
    background: -webkit-gradient(linear, left top, left bottom, from(rgb(238, 115, 218)), to(rgb(161, 91, 220)));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@media(max-width:280px) {
    div.new1 {
        top: 1170px
    }
    div.new {
        top: 950px
    }
}

@media(min-width:320px) and (max-width:374px) {
    #restaurant img {
        width: 300px;
        height: 170px;
    }
    div.new1 {
        top: 1220px
    }
    div.new {
        top: 950px
    }
    .navbar a {
        width: 230px;
    }
}

@media(min-width:320px) {
    div.new1 {
        top: 1190px;
    }
    div.new {
        top: 935px;
    }
}

@media(min-width:375px) and (max-width:424px) {
    #restaurant img {
        width: 350px;
        height: 180px;
    }
    .navbar a {
        width: 270px;
    }
    div.new {
        right: 2em;
        top: 960px;
    }
    div.new1 {
        right: 2em;
        top: 1240px
    }
}

@media(min-width:360px) {
    #restaurant img {
        width: 340px;
    }
    .navbar a {
        width: 260px;
    }
    div.new {
        top: 940px;
    }
    div.new1 {
        top: 1195px;
    }
}

@media(min-width:375px) {
    .navbar a {
        width: 290px;
    }
    div.new {
        top: 940px;
    }
    div.new1 {
        top: 1205px;
    }
}

@media(min-width:411px) {
    .navbar a {
        width: 310px;
    }
    #restaurant img {
        width: 370px;
    }
}

@media(min-width:425px) and (max-width:564px) {
    #restaurant img {
        width: 390px;
        height: 190px;
    }
    div.new1 {
        top: 1215px;
        right: 2em;
    }
    .navbar a {
        width: 340px;
    }
    div.new {
        right: 2em;
    }
}

@media(min-width:540px) {
    #restaurant img {
        width: 490px;
        height: 230px;
    }
    .navbar a {
        width: 450px;
    }
    div.new {
        top: 900px;
        right: 2.5em;
    }
    div.new1 {
        right: 2.5em;
        top: 1210px;
    }
}

@media(min-width:568px) {
    .navbar a {
        width: 480px;
    }
    div.new {
        right: 3em;
    }
    div.new1 {
        right: 3em;
    }
}

@media(min-width:600px) and (max-width:768px) {
    #restaurant img {
        width: 268px;
        height: 160px;
    }
    div.new {
        top: 920px;
        right: initial;
        left: 13em;
    }
    div.new1 {
        top: 920px;
    }
}

@media(min-width:640px) {
    .resto {
        justify-content: space-around;
    }
    .navbar a {
        width: 550px;
    }
    div.new {
        top: 905px;
        left: 14em;
    }
    div.new1 {
        top: 905px;
        right: 2.3em;
    }
}

@media(min-width:653px) {
    .resto {
        justify-content: space-around;
    }
    div.new {
        top: 910px;
        left: 14em;
    }
    div.new1 {
        top: 910px;
        right: 2.5em;
    }
    .navbar a {
        width: 560px;
    }
}

@media(min-width:720px) {
    .navbar a {
        width: 630px;
    }
    div.new1 {
        right: 3.5em;
    }
    div.new {
        left: 15em;
    }
}

@media(min-width:731px) {
    .navbar a {
        width: 640px;
    }
}

@media(min-width:768px) {
    .navbar a {
        width: 670px;
    }
    div.new {
        top: 920px;
        left: 13em;
    }
    div.new1 {
        top: 920px;
        right: 2em;
    }
    .resto {
        justify-content: space-between;
        margin-left: 1em;
        margin-right: 1em;
    }
}

@media(min-width: 769px) and (max-width: 2560px) {
    .navbar nav {
        flex-direction: row;
        margin-left: 0;
    }
    .navbar a {
        margin-left: 1em;
        width: 186px;
    }
    div.number {
        left: inherit;
        margin-left: -2.5em;
    }
    .resto {
        justify-content: space-around;
    }
    div.new {
        left: initial;
        top: 760px;
        right: 26em;
    }
    div.new1 {
        top: 760px;
    }
    footer ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        margin-left: 5em;
        padding-top: 0.8em;
    }
    .footer_logo img {
        position: absolute;
    }
    #restaurant img {
        width: 340px;
        height: 150px;
    }
}

@media(min-width:812px) {
    .navbar nav {
        margin-right: 1em;
    }
    .navbar a {
        margin-left: 2em;
    }
    div.new {
        right: 28em;
    }
    div.new1 {
        right: 3em;
    }
    .resto {
        margin: 0;
    }
}

@media(min-width:823px) {
    div.new {
        right: 29em;
        top: 750px
    }
    div.new1 {
        top: 750px
    }
    .navbar nav {
        margin-right: 1em;
    }
    .navbar a {
        margin-left: 2em;
    }
}

@media(min-width:1024px) {
    .navbar nav {
        justify-content: space-between;
        padding-left: 0;
        padding-right: 0;
    }
    #restaurant img {
        width: 240px;
        height: 130px;
    }
    .fa-heart {
        margin-right: 0.5em;
    }
    div.new {
        right: 49.5em;
        top: 770px;
    }
    div.new1 {
        right: 33.5em;
        top: 770px;
    }
}

@media(min-width:1366px) {
    .resto {
        justify-content: space-between;
        margin-left: 1em;
        margin-right: 1em;
    }
    div.new {
        right: initial;
        left: 15em;
        top: 790px;
    }
    div.new1 {
        right: initial;
        left: 36.5em;
        top: 790px;
    }
    #restaurant img {
        width: 300px;
        height: 150px;
    }
    .navbar a {
        width: 350px;
    }
}

@media(min-width:1440px) {
    div.new {
        top: 800px;
    }
    div.new1 {
        left: 38em;
        top: 800px;
    }
}

@media(min-width:2560px) {
    div.new {
        top: 905px;
        left: 33em;
    }
    #restaurant img {
        width: 600px;
        height: 350px;
    }
    .navbar a {
        width: 550px;
    }
    div.new1 {
        left: 73em;
        top: 905px;
    }
}


/*css la palette du gout*/

.fa-arrow-left {
    margin-left: 1em;
    position: absolute;
    top: 1.4em;
}

.logo1 {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.palette img {
    width: 100%;
    margin: 0;
    position: relative;
}

#carte {
    background-color: rgb(246, 246, 246);
    padding-bottom: 1em;
    margin-top: 2em;
}

.title-heart {
    position: absolute;
    width: 100%;
    background-color: rgb(246, 246, 246);
    top: 13em;
    border: transparent;
    border-radius: 30px 30px 0px 0px;
}

.palette i {
    float: right;
    margin-top: -2em;
}

#carte button {
    width: 200px;
}

#carte h2 {
    border-bottom: solid;
    border-bottom-width: medium;
    width: 50px;
    border-color: rgb(153, 226, 208);
    margin-left: 0.5em;
    margin-top: 1.5em;
}

.plate {
    border: solid transparent;
    background-color: white;
    margin: 0.5em;
    text-align: left;
    border-radius: 15px;
    box-shadow: 1px 1px 12px rgb(212 211 211);
    padding-left: 0.5em;
    position: relative;
}

#carte h3 {
    margin-bottom: 0;
    margin-top: 0.5em;
}

#carte p {
    margin-top: 0;
    margin-bottom: 0.5em;
}

.palette h2 {
    margin-left: 0.5em;
    margin-bottom: 1em;
}

strong {
    position: absolute;
    right: 1em;
}