        #end {
            background-color: #383838;
            width: 100%;
        }
        
        footer ul {
            list-style-type: none;
            color: white;
            margin: 0;
            padding: 1em;
            line-height: 1.5em;
            padding-top: 0;
            text-decoration: underline transparent;
        }
        
        footer a {
            color: white;
        }
        
        .footer_logo img {
            margin: 1em;
            width: 100px;
            filter: invert(100%);
        }
        
        .fa-utensils {
            padding-right: 1em;
        }
        
        .fa-handshake {
            padding-right: 0.5em;
        }
        
        body {
            margin: 0;
        }
        
        header img {
            margin-top: 1em;
            margin-bottom: 1em;
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 50%;
        }
        
        #container {
            width: 100%;
            background-color: #EEEEEE;
        }
        
        .map {
            border: solid transparent;
            background-color: rgb(223, 223, 223);
            text-align: center;
            padding-top: 1em;
            padding-bottom: 1em;
            box-shadow: 0em -0.2em 0.1em rgb(212, 211, 211);
            font-size: x-large;
        }
        
        header h3 {
            font-size: 14px;
        }
        
        #restaurant img {
            width: 250px;
            height: 130px;
            border-radius: 20px 20px 0px 0px;
            position: relative;
        }
        
        img {
            object-fit: cover;
        }
        
        #restaurant {
            width: 100%;
            background-color: rgb(246, 246, 246)
        }
        
        .resto {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            padding-bottom: 2em;
        }
        
        article.establishment {
            background-color: white;
            border-radius: 20px;
            box-shadow: 1px 1px 12px rgb(212, 211, 211);
            margin-bottom: 1em;
        }
        
        article.establishment h3 {
            margin: 0;
            padding-left: 1em;
            margin-top: 0.5em;
        }
        
        article.establishment p {
            margin: 0;
            padding-left: 1.2em;
            margin-bottom: 1em;
        }
        
        #restaurant h2 {
            margin: 1em;
            padding-top: 2em;
        }
        
        .fa-heart {
            float: right;
            margin-right: 1em;
            margin-top: -0.5em;
        }
        
        .navbar {
            width: 100%;
        }
        
        .navbar a {
            border: solid transparent;
            border-radius: 20px;
            margin-bottom: 1em;
            background-color: rgb(246, 246, 246);
            color: black;
            width: 190px;
            padding: 1.5em;
            box-shadow: 1px 1px 8px rgb(212, 211, 211);
            display: flex;
            flex-direction: row
        }
        
        .navbar_option {
            text-align: center;
        }
        
        .navbar nav {
            display: flex;
            justify-content: center;
            flex-direction: column;
            text-align: center;
            padding: 1em;
            margin-left: 0.5em;
        }
        
        .navbar a.three {
            background-color: rgb(245, 237, 255);
        }
        
        div.number {
            background-color: rgb(147, 86, 220);
            border-radius: 50px;
            width: 20px;
            color: white;
            padding: 0.1em;
            position: absolute;
            left: 0.7em;
        }
        
        .fa-mobile-alt {
            padding-right: 1em;
        }
        
        .fa-list {
            padding-right: 1em;
        }
        
        .fa-store {
            padding-right: 1em;
        }
        
        .navbar h2 {
            margin-left: 1em;
        }
        
        button {
            border-radius: 50px;
            margin-bottom: 3em;
            margin-top: 2em;
            height: 50px;
            color: white;
            background: linear-gradient(to bottom right, rgb(238, 115, 218), rgb(161, 91, 220));
            border-color: transparent;
            width: 250px;
        }
        
        .btn {
            display: flex;
            justify-content: center;
        }
        
        button:hover {
            opacity: 0.6;
        }
        
        header h1 {
            text-align: center;
        }
        
        header p {
            text-align: center;
            font-size: 20px;
        }
        
        div.new {
            position: absolute;
            top: 970px;
            right: 1.5em;
            border: solid transparent;
            background-color: rgb(153, 226, 208);
            color: green;
        }
        
        a {
            text-decoration: underline transparent;
        }
        
        .fa-map-marker-alt {
            padding-right: 1em;
        }
        
        div.new1 {
            position: absolute;
            top: 1210px;
            right: 1.5em;
            border: solid transparent;
            background-color: rgb(153, 226, 208);
            color: green;
        }
        
        div.heart {
            font-size: x-large;
        }
        
        div.heart:hover .fas {
            opacity: 1;
            transition: opacity 3s linear;
        }
        
        div.heart:hover .far {
            display: none;
        }
        
        div.heart .fas {
            opacity: 0;
            background: -webkit-gradient(linear, left top, left bottom, from(rgb(238, 115, 218)), to(rgb(161, 91, 220)));
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
        
        @media(min-width:320px) and (max-width:374px) {
            #restaurant img {
                width: 300px;
                height: 170px;
            }
            div.new1 {
                top: 1220px
            }
            div.new {
                top: 950px
            }
            .navbar a {
                width: 220px;
            }
        }
        
        @media(min-width:375px) and (max-width:424px) {
            #restaurant img {
                width: 350px;
                height: 180px;
            }
            .navbar a {
                width: 270px;
            }
            div.new {
                right: 2em;
                top: 960px;
            }
            div.new1 {
                right: 2em;
                top: 1240px
            }
        }
        
        @media(min-width:360px) {
            #restaurant img {
                width: 340px;
            }
            .navbar a {
                width: 260px;
            }
        }
        
        @media(min-width:411px) {
            .navbar a {
                width: 310px;
            }
            #restaurant img {
                width: 370px;
            }
        }
        
        @media(min-width:425px) and (max-width:564px) {
            #restaurant img {
                width: 390px;
                height: 190px;
            }
            div.new1 {
                top: 1260px;
            }
            .navbar a {
                width: 320px;
            }
        }
        
        @media(min-width:540px) {
            #restaurant img {
                width: 490px;
                height: 230px;
            }
            .navbar a {
                width: 430px;
            }
            div.new {
                top: 920px;
                right: 2.5em;
            }
        }
        
        @media(min-width:600px) and (max-width:768px) {
            #restaurant img {
                width: 268px;
                height: 160px;
            }
            div.new {
                top: 920px;
                right: initial;
                left: 13em;
            }
        }
        
        @media(max-width: 2560px) and (min-width: 769px) {
            .navbar nav {
                flex-direction: row;
                justify-content: space-between;
            }
            .navbar a {
                margin-left: 2em;
            }
            div.number {
                left: inherit;
                margin-left: -2.5em;
            }
            .resto {
                justify-content: space-around;
            }
            div.new {
                left: 17em;
                top: 800px;
            }
            div.new1 {
                top: 800px;
                left: 39.5em;
            }
            footer ul {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-evenly;
                margin-left: 2em;
                padding-top: 0.8em;
            }
            .footer_logo img {
                position: absolute;
            }
            .navbar a {
                margin-left: 1em;
            }
        }
        
        @media(max-width:1024px) {
            article.establishment {
                margin: 1em;
            }
        }