@media screen and (min-width:320px) {
    body {
        margin: 0;
    }
    header img {
        width: 100px;
        text-align: center;
        display: flex;
        margin-top: 1em;
        margin-bottom: 1em;
    }
    #container {
        width: 100%;
        background-color: #EEEEEE;
    }
}